.css-button-arrow--green {
    min-width: 90px;
    height: 30px;
    color: #fff;
    padding: 25px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    background-color: #59b256;
    text-decoration: none;
    margin-left: 190px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }
  .css-button-arrow--green:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .css-button-arrow--green:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--green:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }
.a-link{
    color: #59b256;
}